{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Events |{% endblock %}

{% block page_header %}
    EVENTS
{% endblock page_header %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="row">
                    {% for event in events %}
                        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                            {% if event.image %}
                                <a href="{% url 'view_event' event.id %}">
                                    <img class="card-img-top event-flyer-card img-fluid" src="{{ event.image.url }}" alt="{{ event.title }}">
                                </a>
                            {% else %}
                                <a href="{% url 'view_event' event.id %}">
                                    <img class="card-img-top event-flyer-card img-fluid" src="{{ event.image_url }}" alt="{{ event.title }}">
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}