{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col-8 offset-2">
                <h2 class="text-center my-3">Events</h2>
            </div>
            <div class="col-12 text-center">


                <div class="row">
                    {% for event in events %}
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="card h-100 border-0">
                                {% if event.image %}
                                    <a href="{% url 'view_event' event.id %}">
                                        <img class="card-img-top img-fluid" src="{{ event.image.url }}" alt="{{ event.title }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'view_event' event.id %}">
                                        <img class="card-img-top img-fluid" src="{{ event.image_url }}" alt="{{ event.title }}">
                                    </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <a class="product-card-name" href="{% url 'view_event' event.id %}">
                                        <p class="mb-0">{{ event.title }}</p>
                                    </a>
                                    <a class="product-card-name" href="{% url 'view_event' event.id %}">
                                        <p class="mb-0">{{ event.venue }}</p>
                                    </a>
                                    <a class="product-card-name" href="{% url 'view_event' event.id %}">
                                        <p class="mb-0">{{ event.event_date }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}