{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-8 offset-2">
                <hr>
                <p style="font-size: 20px;" class="text-center">Southside Breaks</p>
                <hr>
                
                <div class="col-6 offset-3">
                    <a href="{% url 'threads' %}" style="width:100%;border-color:#ade1ad;color:#ade1ad;" class="btn btn-sm mt-5 mb-1">Enter</a>
                </div>
                
             
            </div>
        </div>
    </div>

{% endblock content %}