{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}{{ thread.title }} |{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="container h-100">
      <div class="row">
        <div class="col-6">
          
        </div>
      </div>
        <div class="row">
          <div class="col-12 mt-5">

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mx-2">
                <li class="breadcrumb-item"><a href="{% url 'threads' %}">Forum</a></li>
                <li class="breadcrumb-item"><a href="#">{{ thread.topic.friendly_name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ thread.title }}</li>
              </ol>
            </nav>

            {% if request.user.is_superuser or request.user == thread_user %}
                <small style="float:right" class="mx-2">
                    <a style="text-decoration: none;" href="{% url 'edit_thread' thread.id %}">Edit</a> |
                    <label for="trigger" class="text-danger">Delete</label>
                    <input id="trigger" type="checkbox">
                    <div class="box">
                      Are you sure?.... <a href="{% url 'delete_thread' thread.id %}" class="text-danger">YES</a>
                    </div>

                </small>
            {% endif %}
            
            <table style="width:100%;">
                
                <tr style="background-color:#0c545e54;border-color: white;border-width: 1px;">
                  <td class="px-2 text-center">
                    <small>{{ thread.user }}</small>
                    <br>
                    {% if thread.user.is_superuser %}
                      <p class="mb-0" style="font-size:11px;color:#de6a0b;"><em>Admin</em></p>
                    {% else %}
                    <p class="mb-0" style="font-size:11px;color:#ccc616;"><em>Member</em></p>
                    {% endif %}
                  </td>
                  <td class="p-2" style="width:75%;">
                    <div style="min-height:100px">
                    <strong>{{ thread.title }}</strong>
                      <hr>
                    {{ thread.body | linebreaks }}
                  </div>
                    <small style="float:left" class="text-muted">Comments: {{ thread.comment.count }}</small>
                    <div class="text-end"><small class="text-muted"><em>{{ thread.whenpublished }} [{{ thread.timestamp }}]</em></small></div>
                  </td>
                </tr>
                {% for comment in comments %}
    
                <tr style="background-color:#0947472c;">
                  
                  <td class="px-2 text-center">
                    <small>{{ comment.user }}</small>
                    <br>
                    {% if comment.user.is_superuser %}
                      <p class="mb-0" style="font-size:11px;color:#de6a0b;"><em>Admin</em></p>
                    {% else %}
                    <p class="mb-0" style="font-size:11px;color:#ccc616;"><em>Member</em></p>
                    {% endif %}
                  </td>
                  <td class="p-2" style="width:75%;">
                    {{ comment.body | linebreaks }}
                    <div class="text-end"><small class="text-muted"><em>{{ comment.whenpublished }} [{{ comment.timestamp }}]</em></small></div>
                  </td>
                </tr>
                {% endfor %}
              </table>

              <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                
                  <form method="post" class="mt-3">
                    {{ form.body | as_crispy_field }}
                    {% csrf_token %}
                    <button type="submit" style="width:100%;border-color:#ade1ad;color:#ade1ad;" class="btn btn-sm mt-1">Post reply</button>
                  </form>
                </div>
          
              



        </div>
        </div>
    </div>
{% endblock %}