html {
    height: 100%;
}

body {
    background-color: rgb(22, 33, 33);
    color: #fafafa;
    font-family: 'Kanit', sans-serif;
}

.top-padding {
    height: 45px;
}

.text-green {
    color: #2cac05;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

table, th, td {
    border: 1px solid rgb(0, 0, 0)!important;
    border-collapse: collapse;
    height: 40px;
}

th {
    background-color: #0b5a6481;
}

.td {
    background-color: #07373d80;
}

.thread-link {
    text-decoration: none;
    color: #2cac05;
}

.thread-link:hover {
    color: #79c063;
}

.hidden {
    display: none;
}

.box {
    display: none;
    
}

#trigger {
    display: none;
}

#trigger:checked + .box {
    display: block;
  }


.navbar-brand {
    top: -7px!important;
}

.nav-icon {
    color: hsla(0,0%,100%,.55);
}

.cover {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0,0,0, 0.3) 30%,rgba(22,33,33, 1) 100%), url("../../media/sunset.jpg");
    background-size: cover;
}