html {
    height: 100%;
}

body {
    background-color: #ddd;
    color: #080808;
    font-family: 'Kanit', sans-serif;
    height: 100vh;
    background-image: url("../../media/black.svg");
    background-size:cover;
    background-repeat: no-repeat;
}

.header-style {
    font-family: 'Russo One', sans-serif;
}

.top-padding {
    height: 45px;
}

.text-green {
    color: #2cac05;
}

.navbar {
    backdrop-filter: blur(9px);
}

.test-box {
    margin-top: 200px;
    height: 100px;
    width: 100%;
    background-color: #080808;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn {
    background-color: #080808;
    border:1px solid #ddd;
    color:#ddd;
}

table, th, td {
    border: 1px solid #080808!important;
    border-collapse: collapse;
    height: 40px;
}

th {
    background-color: #2e2e2ee7;
    color: #ddd;
}

.td {
    background-color: #3b3b3b80;
}

.thread-link {
    text-decoration: none;
    color: #2cac05;
}

.thread-link:hover {
    color: #79c063;
}

.hidden {
    display: none;
}

.box {
    display: none;
    
}

#trigger {
    display: none;
}

#trigger:checked + .box {
    display: block;
  }


.navbar-brand {
    top: -7px!important;
}

.nav-icon,
.nav-item,
.nav-link {
    color: rgba(255, 255, 255, 0.75)!important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.text-shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.cover {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0,0,0, 0.3) 30%,rgba(22,33,33, 1) 100%), url("../../media/sunset.jpg");
    background-size: cover;
}

.top-page-padding {
    height: 100px;
}

.guest-mix-card {
    flex-direction: row;
}

.card-img-top {
    border-radius: 1.5%;
}

.event-flyer-card {
    height: 500px;
}

.blog-image-card {
    height: 300px;
}

footer {
    background-image: url("../../media/footer.svg");
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
}

.footer-padding {
    height: 150px;
}

/* preloader - https://bootsnipp.com/snippets/GaeVl */

.preloader1,
.preloader1 
.loader {
    display:flex;
    align-content:center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 9999;
    text-align: center;
}
.preloader-icon{
    position: relative;
    top: 45%;
    width: 100px;
    border-radius: 50%;
}
.preloader1{
    height:100%;
    width:100%;
    padding:20px 0;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    perspective:700px;
    background: rgba(0, 0, 0, 0.849);
}
.preloader1 .loader{
    text-align:center;
    margin:5px;
    border-radius:50%;
    border:4px solid #fff;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    transform-style:preserve-3d;
    position:relative
}
.preloader1 .preloader1 .loader-inner-1{
    animation: change_first_circle 2s ease-in-out infinite
}
.preloader1 .loader-inner-2{
    animation: change_second_circle 2s ease-in-out infinite
}
.preloader1 .loader-inner-3{
    width:100px;
    height:100px;
    animation:change_last_circle 3s linear infinite
}
@keyframes change_first_circle{
    50%{transform:rotateX(360deg) scale(.8)}
}
@keyframes change_second_circle{
    50%{transform:rotateY(360deg) scale(.8)}
}
@keyframes change_last_circle{
    50%{transform:rotateX(360deg) scale(.8)}
}