{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Blogs |{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2 class="text-center my-3">Blogs</h2>
            </div>
            <div class="col-12 text-center">
                <div class="row">
                    {% for blog in blogs %}
                        <div class=" col-12 col-md-6 my-3">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                {% if blog.image %}
                                    <img src="{{ blog.main_image }}" class="img-fluid card-img-top blog-image-card" alt="{{ blog.title }}"/>
                                    <a href="{% url 'view_blog' blog.id %}">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                {% else %}
                                    <img src="{{ blog.main_image_url }}" class="img-fluid card-img-top blog-image-card" alt="{{ blog.title }}"/>
                                    <a href="{% url 'view_blog' blog.id %}">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <a href="{% url 'view_blog' blog.id %}" class="text-black">
                                    <h4 class="card-title">{{ blog.title }}</h4>
                                    <p class="card-text">{{ blog.body_one|truncatewords:40 }}...</p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}